<body class="d-flex align-items-center justify-content-center min-vh-100">
    <!-- form-1 start -->
    <div class="container">
        <div class="row my-2">
            <div class="col-md-6 p-0 rounded-end" style="background-color: #A21C3C;">
                <div class="py-4 px-2">
                    <img src="/assets/Image/login-side-bg.png" alt="" class="first-img  mx-auto">
                    <form>
                        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active text-white text-center">
                                    <small>
                                        <p class="para">We are a uniform manufacturing company based out of coimbatore
                                            who aim at giving high quality, fashionable school wear for children.
                                            We want the kids to feel comfortable, parents to feel valued for our prices
                                            and schools to feel confident in partnering with us.</p>
                                    </small>
                                </div>
                                <div class="carousel-item text-white text-center">
                                    <small>
                                        <p class="para">We are a uniform manufacturing company based out of coimbatore
                                            who aim at giving high quality, fashionable school wear for children.
                                            We want the kids to feel comfortable, parents to feel valued for our prices
                                            and schools to feel confident in partnering with us.</p>
                                    </small>
                                </div>
                                <div class="carousel-item text-white text-center">
                                    <small>
                                        <p class="para">We are a uniform manufacturing company based out of coimbatore
                                            who aim at giving high quality, fashionable school wear for children.
                                            We want the kids to feel comfortable, parents to feel valued for our prices
                                            and schools to feel confident in partnering with us.</p>
                                    </small>
                                </div>
                            </div>
                            <div class="dot-indicators mb-4">
                                <span data-bs-target="#myCarousel" data-bs-slide-to="0" class="dot active"></span>
                                <span data-bs-target="#myCarousel" data-bs-slide-to="1" class="dot"></span>
                                <span data-bs-target="#myCarousel" data-bs-slide-to="2" class="dot"></span>
                            </div>

                            <script
                                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="border border-1 ">
                    <div class="px-5 py-4">
                        <img src="/assets/Image/prepster-logo.jpeg" alt="" class="second-img mb-3">

                        <div>
                            <h5 class="fw-bold">Welcome!</h5>

                            <span class="fw-bold fs-6" style="color: #A21C3C;">We are happy you stopped by! <br>
                                School wear made, so good!</span>
                        </div>
                        <div class="card px-4 shadow  my-3 rounded">
                            <!-- <div class="py-3"> -->
                            <label for="email" class="form-label" style="margin-top: 1em;">Email</label>
                            <div class="input-group mb-3">
                                <input type="email" id="email" class="form-control" aria-describedby="Useremail" placeholder="Enter Email">
                            </div>

                            <label for="password" class="form-label">Password</label>
                            <div class="input-group mb-3">
                                <input type="password" id="password" class="form-control" aria-describedby="Userpassword" placeholder="Enter Password">
                            </div>

                            <button type="button" class="btn fw-semibold nxt-btn">Submit</button>
                            <!-- </div> -->
                            <!-- <p class="text-center small mt-2">Or Register</p> -->
                            <a href="/register" class="text-decoration-none" style="color: #A21C3C;">
                                <p class="text-center small mt-2">Or Register</p>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around px-4 text-md-center mt-4">
                        <small class=" mb-2"><a href="#" class="text-decoration-none" style="color: #A21C3C;">Terms and Conditions</a></small>
                        <small class="mb-2"><a href="#" class="text-decoration-none" style="color: #A21C3C;">Privacy Policy</a></small>
                        <small class="mb-2"><a href="#" class="text-decoration-none" style="color: #A21C3C;">Exchange and Refund Policy</a></small>
                        <small class="mb-2"><a href="#" class="text-decoration-none" style="color: #A21C3C;">Track the Order</a></small>
                    </div>
                </div>
            </div>
        </div>
        <!-- form-1 end -->
    </div>

</body>