
<div class="container-fluid">
    <div class="row">      
         <!-- Sidebar for larger screens -->
         <div class="col-md-3 col-xl-2 px-sm-2 px-0 border border-0 shadow d-none d-sm-block">
           <app-dashboard-sidebar></app-dashboard-sidebar>
        </div>
        <div class="d-sm-none mt-3">
            <app-dashboard-mobile-toggle></app-dashboard-mobile-toggle>
        </div>
        <!-- Content area -->
        <div class="col py-3">
            <div class="card">
                <p class="fs-6 text-center fw-semibold py-3" style="color: #A21C3C;">Note: Please place
                    separate
                    orders in case you want to place orders for two children.
                    <br>Please do not club the orders and make the payment.
                </p>
            </div>
        </div>
    </div>
</div>
<app-dashboard-mobile-sidebar></app-dashboard-mobile-sidebar>


