<div class="container my-3">
     
    <div class="sticky-top bg-white st-1">
        <img src="/assets/Image/logo.png" alt="" class="img-fluid" style="width: 130px; height: 40px;">
        <div class="d-flex justify-content-between my-4">
            <h5 style="color: #A21C3C;">Exchange and Refund Policy</h5>
            <a href="/login">
                <button class="btn nxt-btn px-5">Login</button>
            </a>
        </div>
    </div>
    <p>Our policy does not allow you to exchange the product you ordered for a different product. You can change the size for a different size if the size you ordered doesn't fit you genuinely.</p>
    <p>1. Exchange has to be initiated within 5 days after receiving the product.</p>
    <p>2. All goods will be inspected when they are received by us.</p>
    <p>3. In the unlikely event that an item is returned to us in an unsuitable condition, we may have to send it back to you. </p>
    <p>4. Mode of exchange depends on the contract between the Prepster and the School.</p>
    <p>We will notify you with the date where we will set up a store in school premises during when you can visit and exchange with the required size. OR <br>We'll send your replacement to the original delivery address. To check or update your address details, Contact Our support team at 7305037390 or <a href="mailto:support@prepsteruniforms.com" style="color: #A21C3C;">{{ 'support@prepsteruniforms.com' }}</a>.</p>
    <p>5. Exchange will be assigned to our respective teams once you initiate it and all the updates will come directly to your inbox. Raising a new query for the same exchange might delay the process.</p>
    <p>The Company's liability for damages shall be restricted only up to repair/replacement of the defective piece and in no event and under no circumstances it shall exceed the price paid (after discounts, if any) by the customer to the Company for the damaged piece stated in the invoice/cash memo.Exchanges will not be accepted under the following conditions:
    No exchanges will be accepted since the school has instructed for a mandatory set of uniforms to all students.
    Product is used or altered.
    Product is damaged due to misuse/overuse by the customer.
    Exchange attempted without original packaging including, price tags, labels, original packing, and other accessories or if original packaging is damaged</p>
</div>
