.nxt-btn{
    color: white;
    background-color: #A21C3C !important;
}
.nxt-btn:hover{
    color: white !important;
    background-color: #A21C3C!important;
}

.st-1{
    padding-top:10px !important;
}