
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a class="d-flex align-items-center pb-3  mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">
            <img src="assets/Image/logo.png" alt="" class="img-fluid">
        </span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0  align-items-center align-items-sm-start"
        id="menu">
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0"style="padding: 0;"> 
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline nav-bar">Users</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="user/roles" class="nav-link align-middle px-0"style="padding: 0;"> 
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline nav-bar">Roles</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link" style="padding: 0;">
                <i class="fs-4 bi-grid"></i>
                <span class="ms-1">Products</span>
            </a>
            <ul class="collapse" id="submenu3">
                <li class="nav-item">
                    <a href="#" class="nav-link">Product 1</a>
                </li>

            </ul>
        </li> -->
        <li>
            <a href="#" class="nav-link px-0 align-middle" style="padding: 0;">
                <i class="fs-4 bi-people"></i> <span
                    class="ms-1 d-none d-sm-inline nav-bar">School</span>
            </a>
        </li>

        <div class="text-center">
            <button class="btn nxt-btn" style="width: 11.5em;margin-top: 9em;" (click)="logout()">Logout</button>
        </div>
    </ul>
</div>



