<div class="container-fluid">
    <div class="row">      
         <!-- Sidebar for larger screens -->
         <div class="col-md-3 col-xl-2 px-sm-2 px-0 border border-0 shadow d-none d-sm-block">
           <app-dashboard-sidebar></app-dashboard-sidebar>
        </div>
        <div class="d-sm-none mt-3">
            <app-dashboard-mobile-toggle></app-dashboard-mobile-toggle>
        </div>
        <!-- Content area -->
        <div class="col py-3">
            <div class="card">
                <p class="fs-6 text-center fw-semibold py-3" style="color: #A21C3C;">Note: Please place
                    separate
                    orders in case you want to place orders for two children.
                    <br>Please do not club the orders and make the payment.
                </p>
                <div
                    class="d-flex flex-column flex-sm-row justify-content-between mx-3 mx-sm-5 align-items-center">
                    <div class="d-flex mb-2 mb-sm-0">
                        <p class="me-2 mb-0">Show</p>
                        <div class="dropdown mx-2">
                            <button class="btn border px-2 py-0 dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                10
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                            </ul>
                        </div>
                        <p class="mb-0">entries</p>
                    </div>
                    <div class="d-flex mt-3 mt-sm-0">
                        <div class="input-group mb-3 mx-2">
                            <input type="text" class="form-control" placeholder="Username"
                                aria-label="Username" aria-describedby="basic-addon1">
                            <span class="input-group-text" id="basic-addon1"
                                style="background-color: #A21C3C;">
                                <img src="Frontend/asset/Image/icons8-search-50 (3).png" alt=""
                                    class="img-fluid" style="width:20px;">
                            </span>
                        </div>
                        <button class="btn nxt-btn mb-2 mb-sm-0"
                            style="width: 100%; max-width: 130px; height: 37px;">Add Student</button>
                    </div>
                </div>
        
                <div class="container-fluid py-4">
                    <div class="container custom-container">
                        <div class="h-75">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="table-responsive rounded-3 p-2 card">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">S.no</th>
                                                    <th scope="col">Student Code</th>
                                                    <th scope="col">Admission Number</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td style="color: #A21C3C;" class="fw-semibold">
                                                        STD293147</td>
                                                    <td>12452/41</td>
                                                    <td>John</td>
                                                    <td>123</td>
                                                    <td style="color: #A21C3C;" class="fw-semibold">
                                                    <div class="d-flex">
                                                        <img src="assets/Image/icons8-eye-24 (1).png" alt="" style="width: 23px; height: 23px;">
                                                        <img src="assets/Image/icons8-edit-24 (1).png" alt=""class="mx-2" style="width: 23px; height: 23px;">
                                                        <img src="assets/Image/icons8-delete-48.png" alt="" style="width: 23px; height: 23px;">
                                                        
                                                    </div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td style="color: #A21C3C;" class="fw-semibold">
                                                        STD293148</td>
                                                    <td>12452/20</td>
                                                    <td>Wowelse</td>
                                                    <td>123</td>
                                                    <td style="color: #A21C3C;" class="fw-semibold">  <div class="d-flex">
                                                        <img src="/assets/Image/icons8-eye-24 (1).png" alt="" style="width: 23px; height: 23px;">
                                                        <img src="/assets/Image/icons8-edit-24 (1).png" alt=""class="mx-2" style="width: 23px; height: 23px;">
                                                        <img src="assets/Image/icons8-delete-48.png" alt="" style="width: 23px; height: 23px;">
                                                        
                                                    </div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td style="color: #A21C3C;" class="fw-semibold">
                                                        STD293148</td>
                                                    <td>12452/20</td>
                                                    <td>Wowelse</td>
                                                    <td>123</td>
                                                    <td style="color: #A21C3C;" class="fw-semibold">  <div class="d-flex">
                                                        <img src="/assets/Image/icons8-eye-24 (1).png" alt="" style="width: 23px; height: 23px;">
                                                        <img src="/assets/Image/icons8-edit-24 (1).png" alt=""class="mx-2" style="width: 23px; height: 23px;">
                                                        <img src="assets/Image/icons8-delete-48.png" alt="" style="width: 23px; height: 23px;">
                                                        
                                                    </div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td style="color: #A21C3C;" class="fw-semibold">
                                                        STD293148</td>
                                                    <td>12452/20</td>
                                                    <td>Wowelse</td>
                                                    <td>123</td>
                                                    <td style="color: #A21C3C;" class="fw-semibold">  <div class="d-flex">
                                                        <img src="/assets/Image/icons8-eye-24 (1).png" alt="" style="width: 23px; height: 23px;">
                                                        <img src="/assets/Image/icons8-edit-24 (1).png" alt=""class="mx-2" style="width: 23px; height: 23px;">
                                                        <img src="assets/Image/icons8-delete-48.png" alt="" style="width: 23px; height: 23px;">
                                                        
                                                    </div></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td style="color: #A21C3C;" class="fw-semibold">
                                                        STD293148</td>
                                                    <td>12452/20</td>
                                                    <td>Wowelse</td>
                                                    <td>123</td>
                                                    <td style="color: #A21C3C;" class="fw-semibold">  <div class="d-flex">
                                                        <img src="/assets/Image/icons8-eye-24 (1).png" alt="" style="width: 23px; height: 23px;">
                                                        <img src="/assets/Image/icons8-edit-24 (1).png" alt=""class="mx-2" style="width: 23px; height: 23px;">
                                                        <img src="assets/Image/icons8-delete-48.png" alt="" style="width: 23px; height: 23px;">
                                                        
                                                    </div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="d-flex flex-column flex-sm-row justify-content-between mx-3 mx-sm-5">
                    <div class="mt-4 text-center text-sm-left">
                        <small>
                            <p class="mb-0">Showing 1 to 3 of 3 entries</p>
                        </small>
                    </div>
                    <div class="my-3 text-center text-sm-right">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center justify-content-sm-end mb-0">
                                <li class="page-item "><a class="page-link text-dark" href="#">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                                <!-- <li class="page-item"><a class="page-link" href="#">2</a></li> -->
                                <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                                <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>
<app-dashboard-mobile-sidebar></app-dashboard-mobile-sidebar>